mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fbf9f9;
}

ul{
    li{
        list-style: none;
    }
}

button{
    border: 0;
    outline: none;
    background: transparent;
}
.user{
    font-size: 0.875rem;
}

.user-image{
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
}
.user-image-icon{
    height: 1.125rem;
    font-size: 1rem;
}

::ng-deep{
    .mat-menu-content{
        width: 10rem;
    }
}