<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Certificat Foncier Opération intégrée</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute">

            <section>

            <div class="gauche">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Localisation</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <label for="">Région : </label><br>
                    <label for="">Département : </label><br>
                    <label for="">Sous-préfecture : </label><br>
                    <label for="">Village :</label>
                  </p>
                </mat-card-content>
              </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                    <mat-card-title>Infos sur la demande</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <label for="">Enregistrée sous le n° :</label><br>
                        <label for="">du :</label><br>
                        <label for="">Date création :</label>
                      </p>
                    </mat-card-content>
                   </mat-card>

                   <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Type de personne</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <label for="">Type personne :</label><br><br>
                        <label for="">Rôle demandeur :</label><br>

                      </p>
                    </mat-card-content>
                  </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>Opérateur Technique Agrée</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-elevation-z0">
                          <p>
                            <label for="">Nom du groupement :</label><br>
                            <label for="">Adresse :</label><br>
                            <label for="">Email :</label><br>
                            <label for="">N° Téléphone :</label>
                          </p>
                        </mat-card-content>
                      </mat-card>


                </div>

            <div class="droite">
                    <mat-card class="card-droite">
                        <mat-card-content>
                              <mat-stepper
                                class="example-stepper"
                                [orientation]="(stepperOrientation | async)!">
                                <mat-step [stepControl]="firstFormGroup">

                                  <div class="card" id="card-nni">
                                    <div class="row g-2  mx-4 my-3">
                                    <div class="col-md-4 " style="height: 42px; margin-left: -25px;">
                                      <label for="inputnni" class="form-label"></label>
                                      <input type="text" class="form-control" id="inputnni" placeholder="Entrez le n° NNI ou n° CMU">
                                    </div>

                                    <div class="col-md-6 " id="btn-nni">
                                      <button class="btn " id="btncmu"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-check" viewBox="0 0 48 48">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                      </svg></button>
                                    </div>
                                  </div>
                                  </div>

                                  <div class="card">
                                    <form class="row g-3 mx-2 py-3">

                                      <div class="col-md-4">
                                        <label for="inputnom" class="form-label">Nom</label>
                                        <input type="text" class="form-control form-control-sm" id="inputnom">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Prénom</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Date de naissance</label>
                                        <input type="date" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Lieu naissance</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Nom et prénom du père</label>
                                        <input type="text" class="form-control form-control-sm " id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Nom et prénom de la mère</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Nationalité</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let Nationalite of Nationalite" value="">{{Nationalite}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Profession</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let profession of profession" value="">{{profession}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Type Pièce d'identité</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let typepiece of typepiece" value="">{{typepiece}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">N° Pièce identité</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Résiddence habituelle</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Téléphone</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Agissant pour le compte</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-5 ">
                                        <input type="file" class="btn my-4 mx-1">
                                      </div>

                                      <div class="col-md-2 mx-4">
                                        <button class="btn-suivant mx-5"  mat-button matStepperNext>Suivant</button>
                                      </div>

                                    </form>
                                  </div>


                          <!--    Etape 2  du procecuss       -->
                                </mat-step>
                                <mat-step [stepControl]="secondFormGroup">
                                  <div class="card">
                                  <form class="row g-3 mx-2 py-3">
                                    
                                    <div class="col-md-2">
                                      <label for="inputrdc" class="form-label">N° du Pv</label>
                                      <input type="number" class="form-control form-control-sm" id="inputrdc">
                                    </div>

                                    <div class="col-md-3">
                                      <label for="inputrdc" class="form-label">Date</label>
                                      <input type="date" class="form-control form-control-sm" id="inputrdc">
                                    </div>

                                    <div class="col-md-3">
                                      <label for="inputrol" class="form-label">Commissaire enquêteur</label>
                                      <select id="inputrol" class="form-select form-select-sm">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let cenq of cenq" value="">{{cenq}}</option>
                                      </select>
                                    </div>

                                    <div class="col-md-4">
                                      <label for="inputrdc" class="form-label">Superficie (en hectare)</label>
                                      <input type="text" class="form-control form-control-sm" id="inputrdc">
                                    </div>
                                  </form>
                                </div>
                                    
                                <div class="card my-3">
                                  <form class="row">

                                  </form>
                                </div>
                                <div>
                                  <button mat-raised-button (click)="openDialog()">Déclaration</button>
                                </div>
                                <div>
                                  <button  class="btn-retour2" mat-button matStepperPrevious>Retour</button>
                                  <button class="btn-suivant2" mat-button matStepperNext>Suivant</button>
                                </div>
                                </mat-step>

                               <!-- Etape 3 du processus-->
                               <mat-step [stepControl]="thirdFormGroup" >
                                <form class="row g-3 mx-2 py-3">
                                  <div>
                                    <button mat-raised-button (click)="openDialog()">Déclaration</button>
                                  </div>
                                  <div>
                                    <button  class="btn-retour2" mat-button matStepperPrevious>Retour</button>
                                    <button class="btn-suivant2" mat-button matStepperNext>Suivant</button>
                                  </div>
                                </form>
                              </mat-step>
                               
                              <!-- Etape 4 du processus-->
                                <mat-step [stepControl]="thirdFormGroup">
                                  <form [formGroup]="thirdFormGroup">
                                    <mat-form-field>
                                      <mat-label>Phone number</mat-label>
                                      <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
                                    </mat-form-field>
                                    <div>
                                      <button class="btn-retour" mat-button matStepperPrevious>Retour</button>
                                      <button class="btn-suivant" mat-button matStepperNext>Suivant</button>
                                    </div>
                                  </form>
                                </mat-step>
                                <mat-step>
                                  <ng-template matStepLabel>Done</ng-template>
                                  <p>You are now done.</p>
                                  <div>
                                    <button mat-button matStepperPrevious>Retour</button>
                                  </div>
                                </mat-step>
                              </mat-stepper>



                        </mat-card-content>
                      </mat-card>
            </div>
        </section>

        </div>
    </div>
</div>
