<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Certificat Foncier Opération intégrée</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute">

            <section>

            <div class="gauche">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Localisation</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <label for="">Région : </label><br>
                    <label for="">Département : </label><br>
                    <label for="">Sous-préfecture : </label><br>
                    <label for="">Village :</label>
                  </p>
                </mat-card-content>
              </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                    <mat-card-title>Infos sur la demande</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <label for="">Enregistrée sous le n° :</label><br>
                        <label for="">du :</label><br>
                        <label for="">Date création :</label>
                      </p>
                    </mat-card-content>
                   </mat-card>

                   <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Type de personne</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <label for="">Type personne :</label><br><br>
                        <label for="">Rôle demandeur :</label><br>

                      </p>
                    </mat-card-content>
                  </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>Opérateur Technique Agrée</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="mat-elevation-z0">
                          <p>
                            <label for="">Nom du groupement :</label><br>
                            <label for="">Adresse :</label><br>
                            <label for="">Email :</label><br>
                            <label for="">N° Téléphone :</label>
                          </p>
                        </mat-card-content>
                      </mat-card>


                </div>

            <div class="droite">
                    <mat-card class="card-droite">
                        <mat-card-content>
                              <mat-stepper
                                class="example-stepper"
                                [orientation]="(stepperOrientation | async)!">
                                <mat-step [stepControl]="firstFormGroup">

                                  <div class="card" id="card-nni">
                                    <div class="row g-2  mx-4 my-3">
                                    <div class="col-md-4 " style="height: 42px; margin-left: -25px;">
                                      <label for="inputnni" class="form-label"></label>
                                      <input type="text" class="form-control" id="inputnni" placeholder="Entrez le n° NNI ou n° CMU">
                                    </div>

                                    <div class="col-md-6 " id="btn-nni">
                                      <button class="btn " id="btncmu"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-check" viewBox="0 0 48 48">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                      </svg></button>
                                    </div>

                                    <div class="col-md-2" id="btnsauv">
                                      <button class="btn" >Sauvegarger</button>
                                    </div>

                                    <div class="col-md-4" id="btnimp">
                                      <button class="btn" >Imprimer</button>
                                    </div>
                                  </div>
                                  </div>

                                  <div class="card">
                                    <form class="row g-3 mx-2 py-3">

                                      <div class="col-md-4">
                                        <label for="inputnom" class="form-label">Nom</label>
                                        <input type="text" class="form-control form-control-sm" id="inputnom">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Prénom</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Date de naissance</label>
                                        <input type="date" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Lieu naissance</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Nom et prénom du père</label>
                                        <input type="text" class="form-control form-control-sm " id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Nom et prénom de la mère</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Nationalité</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let Nationalite of Nationalite" value="">{{Nationalite}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Profession</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let profession of profession" value="">{{profession}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputrol" class="form-label">Type Pièce d'identité</label>
                                        <select id="inputrol" class="form-select form-select-sm">
                                          <option selected>Choose...</option>
                                          <option *ngFor="let typepiece of typepiece" value="">{{typepiece}}</option>
                                        </select>
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">N° Pièce identité</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Résiddence habituelle</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Téléphone</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div class="col-md-4">
                                        <label for="inputAdress" class="form-label">Agissant pour le compte</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>

                                      <div  class="col-md-5 ">
                                        <input type="file" class="btn my-4 mx-1">
                                      </div>

                                      <div class="col-md-2 mx-4">
                                        <button class="btn-suivant mx-5"  mat-button matStepperNext>Suivant</button>
                                      </div>

                                    </form>
                                  </div>


                          <!--    Etape 2  du procecuss       -->
                                </mat-step>
                                <mat-step [stepControl]="secondFormGroup">
                                  <div class="card">
                                  <form class="row g-3 mx-2 py-3">
                                    
                                    <div class="col-md-2">
                                      <label for="inputrdc" class="form-label">N° du Pv</label>
                                      <input type="number" class="form-control form-control-sm" id="inputrdc">
                                    </div>

                                    <div class="col-md-3">
                                      <label for="inputrdc" class="form-label">Date</label>
                                      <input type="date" class="form-control form-control-sm" id="inputrdc">
                                    </div>

                                    <div class="col-md-3">
                                      <label for="inputrol" class="form-label">Commissaire enquêteur</label>
                                      <select id="inputrol" class="form-select form-select-sm">
                                        <option selected>Choose...</option>
                                        <option *ngFor="let cenq of cenq" value="">{{cenq}}</option>
                                      </select>
                                    </div>

                                    <div class="col-md-4">
                                      <label for="inputrdc" class="form-label">Superficie (en hectare)</label>
                                      <input type="text" class="form-control form-control-sm" id="inputrdc">
                                    </div>
                                  </form>
                                </div>
                                   <br> 
                                  <div class="card" id="rdc-visa">
                                    <div class="card-header">
                                      <div class="row ">
                                        <div class="col-md-6">
                                      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="openDialog2()"> &nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                          </svg> Ajouter un membre de l'équipe 
                                    </button>
                                    </div>
                                    <div class="col-md-6">
                                    <button type="button" class="btn btn-outline-secondary btn-sm mx-3" (click)="openDialog1()"> &nbsp;
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                        </svg> Déclaration des personnes auditionnées 
                                  </button>
                                </div>
                              </div>
                                  </div>
                                  <div class="row">
                                      <div class="overflow-scroll col-md-4">
                                        <table class="table table-hover">
                                          <thead class="thead-dark">
                                            <tr>
                                              <th scope="col">N°</th>
                                              <th scope="col">Membre </th>
                                              <th scope="col">Fonction/Qualité</th>
                                              <th scope="col">Signature</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Mark</td>
                                              <td>Otto</td>
                                              <td>Otto</td>
                                            
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                             
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>@twitter</td>
                                              <td>@twitter</td>
                                              <td>@twitter</td>
                                            
                                            </tr>
                                            <tr>
                                              <th scope="row">4</th>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                              
                                            </tr>
                                            <tr>
                                              <th scope="row">5</th>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                             
                                            </tr>
                                            <tr>
                                              <th scope="row">6</th>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                              <td>Jacob</td>
                                             
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>

                                    <div class="overflow-scroll col-md-6">
                                      <table class="table table-hover">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th scope="col">N°</th>
                                            <th scope="col">Qualité </th>
                                            <th scope="col">Nom & prénom</th>
                                            <th scope="col">Nationalité</th>
                                            <th scope="col">N° pièce</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Président</td>
                                            <td>Otto Frédéric</td>
                                            <td>Ivoirienne</td>
                                            <td>CI006121233</td>
                                          
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Sécrétaire</td>
                                            <td>Jacob Kouassi</td>
                                            <td>Ivoirienne</td>
                                            <td>CI003178990</td>
                                           
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Membre</td>
                                            <td>Koné Binta</td>
                                            <td>Ivoirienne</td>
                                            <td>CI009154231</td>
                                          
                                          </tr>
                                          <tr>
                                            <th scope="row">4</th>
                                            <td>Cédant</td>
                                            <td>François Achi</td>
                                            <td>Ivoirienne</td>
                                            <td>CI001033290</td>
                                            
                                          </tr>
                                          <tr>
                                            <th scope="row">5</th>
                                            <td>frère</td>
                                            <td>Jacques Akon</td>
                                            <td>Ivoirienne</td>
                                            <td>CI002170239</td>
                                           
                                          </tr>
                                          <tr>
                                            <th scope="row">6</th>
                                            <td>demandeur</td>
                                            <td>Sebastien Sékongo</td>
                                            <td>Ivoirienne</td>
                                            <td>CI0011721234</td>
                                           
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                  </div>
                                </div>
                                  <br>
                                
                              
                                <div>
                                  <button  class="btn-retour2" mat-button matStepperPrevious>Retour</button>
                                  <button class="btn-suivant2" mat-button matStepperNext>Suivant</button>
                                </div>
                                </mat-step>

                               <!-- Etape 3 du processus-->
                               <mat-step [stepControl]="thirdFormGroup" >
                                
                                  <div class="card ">
                                    <div class="card-header text-center">Le bien foncier rural objet du présent constat est limité :</div>
                                    <div class="card-body">
                                      <form class="row g-3 ">
                                      <div class="col-md-3">
                                        <label for="inputAdress" class="form-label">Au Nord par</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-3">
                                        <label for="inputAdress" class="form-label">Au Sud par</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-3">
                                        <label for="inputAdress" class="form-label">à l'Ouest par</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                      <div class="col-md-3">
                                        <label for="inputAdress" class="form-label">à l'Est par</label>
                                        <input type="text" class="form-control form-control-sm" id="inputAdress">
                                      </div>
                                    </form>
                                    </div>
                                  </div>

                                    <div class="card my-3">
                                      <div class="row  text-center">
                                      <div class="col-md-8 my-3">
                                        <button type="button" class="btn btn-outline-success btn-sm" (click)="openDialog3()">Liste des parties présentes lors du constat de limites </button>
                                      </div>
                                      <div class="col-md-4 my-3" style="justify-content: right !important;">
                                        <button type="button" class="btn btn-success btn-sm" >Sauvegarder</button>
                                      </div>
                                    </div>
                                      <table class="table ">
                                        <thead class="thead-secondary">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom et Prénom</th>
                                            <th scope="col">Qualité</th>
                                            <th scope="col">Village</th>
                                            <th scope="col">Signature</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">4</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">5</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">6</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <div class="row text-center">
                                      <div class="col-md-6">
                                      <button  class="btn-retour3" mat-button matStepperPrevious>Retour</button>
                                    </div>
                                    <div class="col-md-6">
                                    <button class="btn-suivant3" mat-button matStepperNext>Suivant</button>
                                    </div>
                                  </div>
                                  </div>

                              </mat-step>
                               
                              <!-- Etape 4 du processus-->
                                <mat-step [stepControl]="thirdFormGroup">
                                  <form [formGroup]="thirdFormGroup">
                                    <mat-form-field>
                                      <mat-label>Phone number</mat-label>
                                      <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
                                    </mat-form-field>
                                    <div>
                                      <button class="btn-retour4" mat-button matStepperPrevious>Retour</button>
                                      <button class="btn-suivant4" mat-button matStepperNext>Suivant</button>
                                    </div>
                                  </form>
                                </mat-step>
                                <mat-step>
                                  <ng-template matStepLabel>Done</ng-template>
                                  <p>You are now done.</p>
                                  <div>
                                    <button mat-button matStepperPrevious>Retour</button>
                                  </div>
                                </mat-step>
                              </mat-stepper>



                        </mat-card-content>
                      </mat-card>
            </div>
        </section>

        </div>
    </div>
</div>
