
label {
    font-size: 0.75rem;
}

signature-pad {
    background-color: white;
    cursor: crosshair;
    width: 100%; /* Modifier la largeur selon les besoins */
    height: 100%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-top: 0.313rem;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%); /* Pour centrer le contenu */
}

.btns button {
    border: 0.063rem solid #eef0f0;
    border-radius: 0.25rem;
    box-shadow: rgba(237, 240, 240, 0.5) 0 0.125rem 0.313rem 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 0 0.313rem 0 0.375rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 0 0.625rem;
}

.btn1 {
    background-color: rgb(61, 167, 243);
}

.btn3 {
    background-color: #30ae30;
}

