
label{
    font-size: 12px;
}
signature-pad{
    background-color: white;
    cursor: crosshair;
    width: 150%;
    height: 100%;
    
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-top: 5px;
    align-items: center;
    margin-left: 50%;
}
.btns button{
    
    border: 1px solid #eef0f0;
    border-radius: 4px;
    box-shadow: rgba(237, 240, 240, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 0 10px;
    
}

.btn1{
    background-color: rgb(61, 167, 243);
}

.btn3{
    background-color: #30ae30;
}

