<div mat-dialog-title class="title">PARAMETRE DE LA DEMANDE</div> 

<section class="container  bg-dark text-light py-3 ">
  <div class="card py-3">
    <div class="card-header"> Localisation de la parcelle</div>
  <form class="row g-3 mx-3 py-3">
    <div class="col-md-4">
      <label for="inputState" class="form-label">Département</label>
      <select id="inputState" class="form-select form-select-sm">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Sous-préfecture</label>
      <select id="inputState" class="form-select form-select-sm">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Village</label>
      <select id="inputState" class="form-select form-select-sm">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </form>
</div>
</section>

<section class="container bg-secondary text-light py-3 ">
  <div class="card">
    <div class="card-header">Infos demande | Type personnes | Opérateur Foncier</div>
  
  <form class="row g-3 mx-3 py-3">
    <div class="col-md-4">
      <label for="inputnumber" class="form-label">Numéro demande</label>
      <input type="number" class="form-control" id="inputnumber" required>
    </div>

    <div class="col-md-4">
      <label for="inputdate" class="form-label">Date</label>
      <input type="date" class="form-control" id="inputdate">
    </div>

    <div class="col-md-4">
      <label for="inputcreatdate" class="form-label">Date Création</label>
      <input type="date" class="form-control" id="inputcreatdate" placeholder="">
    </div>

    <div class="col-md-4">
      <label for="inputtyp" class="form-label">Type demandeur</label>
      <select id="inputtyp" class="form-select form-select-sm">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="inputrol" class="form-label">Rôle demandeur</label>
      <select id="inputrol" class="form-select form-select-sm">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="inputgroup" class="form-label">Nom du groupement</label>
      <input type="text" class="form-control" id="inputgroup" placeholder="">
    </div>

    <div class="col-md-4">
      <label for="inputAdress" class="form-label">Adresse</label>
      <input type="text" class="form-control" id="inputAdress">
    </div>
    
    <div class="col-md-4">
      <label for="inputemail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputemail">
    </div>
    
      <div class="col-md-4">
        <label for="inputtel" class="form-label">Téléphone</label>
        <input type="tel" class="form-control" id="inputtel">
      </div>

    <div class="card-body">
    <div class="col-md-12">
      <button type="btn" class="btn btn-secondary">Retour</button> <div class="space"></div>
      <button type="submit" class="btn btn-secondary" routerLink="../certificatf" routerLinkActive="list-item-active">Valider</button>
    </div>
  </div>
  </form>
</div>
</section>

 
                                                                                                       
