/*.container{
    padding-top: 10px;
}




.btn-color{
    background: #fb9101;
}

.row{
    display: flex;
    gap: 10px;

    mat-form-field{
        width: 15rem;
        margin: 2px;
        padding: 2px;
    }
}

.btn{
    padding: 0px 25px 20px;

    button{
        flex: 1;
    }
}*/


.form-control,.form-select{
    height: 26px;
    font-size: 12px;
}

.form-label{
    font-size: 12px;
}

.space{
    display: inline-block;
    width: 20px;
}

button{
    width: 30%;
    height: 32px;
}