
<!-- Montserrat Font -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />




<div class="container-fluid page">
    <div class="page__box p-3 mt-2">TABLEAU DE BORD</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute">
          
           
            <main class="main-container">
              <div class="main-title">
                <select name="tb" id="typeTB">
                  <option value="tb1" class="">Complet</option>
                  <option value="tb2" class="">CF</option>
                  <option value="tb3" class="">DTV</option>
                </select>
                </div>
        
                <div class="main-cards">
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-blue">Certificats Fonciers</p>
                      <span class="material-icons-outlined text-blue">description</span>
                    </div>
                    <span class="text-gray font-weight-bold mt-3">11589</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-orange">Territoires Délimités</p>
                      <span class="material-symbols-outlined text-orange">flowsheet</span>
                    </div>
                    <span class="text-gray font-weight-bold mt-3">2293</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-green">Contrats Fonciers</p>
                      <span class="material-symbols-outlined text-green">contract_edit</span>
                    </div>
                    <span class="text-gray font-weight-bold mt-3">663</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-red">Consolidations</p>
                      <span class="material-symbols-outlined text-red">note_stack</span>
                    </div>
                    <span class="text-gray font-weight-bold mt-3">56</span>
                  </div>
        
                </div>
        
                <div class="charts">
        
                  <div class="charts-card">
                    <p class="chart-title">Diagramme des Territoires Délimités</p>
                    
                    <div id="bar-chart" style="width: 530px;">
                      <canvas id="mychart"></canvas>
                    </div>

                  </div>
        
                  <div class="charts-card">
                    <p class="chart-title">Statistiques des Certificats Fonciers</p>
                    
                    <div id="chart" style=" height: 300px;">
                        <canvas id="chart2" style="width: 600px;"></canvas>
                      </div>

                  </div>
        
                </div>
              </main>


        </div>
    </div>
</div>



<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" 
integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

