@import 'src/app/home/home.component.scss';


.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
    background: #fb9101;
  }

  table th {
      background-color: #30ae67;
      color: white;
  }

  ::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background, 
  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background: rgb(248, 244, 39)!important;
  }