@import '../../app/home/home.component.scss';

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
 
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 0.063rem;
  }
  
  .text-primary {
    color: #666666;
  }
  
  .text-blue {
    color: #fb9101;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #30ae67;
  }
  
  .text-orange {
    color: #47418e;
  }
  .text-gray{
     color: #666666;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 16.25rem 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 4.375rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.875rem 0 1.875rem;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.875rem;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 0.938rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9799ab;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 1.25rem 1.25rem;
    width: max-content;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > select {
    font-size: 14px;
    border: none;
    background: none;
    color: #c9c9c9;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
    margin: 1.25rem 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .card:first-child {
    border-left: 7px solid #fb9101;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid #47418e;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid #30ae67;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  
  .card > span {
    font-size: 20px;
    font-weight: 600;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > p {
    font-size: 16px;
  }
  
  .card-inner > span {
    font-size: 42px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
  
  .charts-card {
    
    background-color: #ffffff;
    width: 36.5rem;
    height: 22rem;
    margin-bottom: 1.25rem;
    padding: 1.6rem;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
  }
  
  .chart-container{
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  .chart-size{
    display: flex;
    position: relative;
    width: 100%;
    height: 12rem;
    justify-content: center;
    object-fit: cover !important;
  }

  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.375rem;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
  
/* Styles pour les écrans de taille moyenne (<= 992px) */
@media screen and (max-width: 992px) {
  .page__box {
      font-size: 1.5rem;
  }

  .main-title select {
      font-size: 1rem;
  }

  .main-cards, .charts {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .card, .charts-card {
      width: 100%;
  }
}

/* Styles pour les écrans de petite taille (<= 768px) */
@media screen and (max-width: 768px) {
  .page__box {
      font-size: 1.2rem;
  }

  .main-title select {
      font-size: 0.9rem;
  }

  .main-cards, .charts {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .card, .charts-card {
      width: 100%;
  }
}

/* Styles pour les écrans de très petite taille (<= 480px) */
@media screen and (max-width: 480px) {
  .page__box {
      font-size: 1rem;
  }

  .main-title select {
      font-size: 0.8rem;
  }

  .main-cards, .charts {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .card, .charts-card {
      width: 100%;
  }
}

