
<!-- Montserrat Font -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />




<div class="container-fluid page">
    <div class="page__box p-3 mt-2">TABLEAU DE BORD</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute">
          
           
            <main class="main-container">
               <!-- <div class="main-title">
                  <p class="font-weight-bold">DASHBOARD</p>
                </div>-->
        
                <div class="main-cards">
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-primary">Certificats Fonciers</p>
                      <span class="material-icons-outlined text-blue">description</span>
                    </div>
                    <span class="text-primary font-weight-bold">11589</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-primary">Territoires Délimités</p>
                      <span class="material-symbols-outlined text-orange">flowsheet</span>
                    </div>
                    <span class="text-primary font-weight-bold">2293</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-primary">Contrats Fonciers</p>
                      <span class="material-symbols-outlined text-green">contract_edit</span>
                    </div>
                    <span class="text-primary font-weight-bold">663</span>
                  </div>
        
                  <div class="card">
                    <div class="card-inner">
                      <p class="text-primary">Consolidations</p>
                      <span class="material-symbols-outlined text-red">note_stack</span>
                    </div>
                    <span class="text-primary font-weight-bold">56</span>
                  </div>
        
                </div>
        
                <div class="charts">
        
                  <div class="charts-card">
                    <p class="chart-title">Diagramme des Territoires Délimités</p>
                    <div id="bar-chart"></div>
                  </div>
        
                  <div class="charts-card">
                    <p class="chart-title">Statistiques des Certificats Fonciers</p>
                    
                    <div id="chart">
                       <!---- <apx-chart
                          [series]="chartOptions.series!"
                          [chart]="chartOptions.chart!"
                          [labels]="chartOptions.labels!"
                          [fill]="chartOptions.fill!"
                          [stroke]="chartOptions.stroke!"
                          [responsive]="chartOptions.responsive!"
                        ></apx-chart>-->
                      </div>
                  </div>
        
                </div>
              </main>


        </div>
    </div>
</div>



<!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Custom JS -->
    <script src="./Js/scripts.js"></script>